<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/f4529d85-db38-4484-9bb6-4b5328db3224/resourcegroups/deploy/providers/Microsoft.ContainerRegistry/registries/DeployOnAzureDemo20190514034115</ResourceId>
    <ResourceName>DeployOnAzureDemo20190514034115</ResourceName>
    <ResourceGroup>deploy</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://deployonazuredemo20190514034115.azurecr.io/</RegistryUrl>
    <UserName>DeployOnAzureDemo20190514034115</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a82489ac-7e23-4911-9abe-bf9cee7454ff</ProjectGuid>
  </PropertyGroup>
</Project>